{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/add_record.css' %}">
    </head>
    <body style="background-color: #323232;"><br><br>
        <div class="col-md-6 offset-md-4">
            <form class="form" method="POST" action="">
                {% csrf_token %}
                <p class="title">Add record👨🏻</p>
                <p class="message">Enter the details as prompted.</p>
                <div class="flex">
                    <label>
                        {{ form.first_name }}
                    </label>
            
                    <label>
                        {{ form.last_name }}
                    </label>
                </div> 
                <label>
                    {{ form.email }}
                </label>
                <label>
                    {{ form.address }}
                </label>
                <label>
                    {{ form.phone }}
                </label>
                <label>
                    {{ form.city }}
                </label>
                <label>
                    {{ form.state }}
                </label>
                <label>
                    {{ form.zipcode }}
                </label>
                
                <button class="submit">Add Customer</button>
            </form>
        </div>
    </body>
</html>
{% endblock %}