{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/record.css' %}">
    </head>
    <body style="background-color: #1e1e1e;"><br>
        <div class="col-md-6 offset-md-4">
            <div class="card">
                <div class="bg uwu"></div>
                <div class="bg"></div>
                <div class="content">
                    <div class="img">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
                    </div>
                    <div class="h1">
                        {{ customer_record.first_name }}&nbsp;{{ customer_record.last_name }}
                    </div>
                    <div class="p">
                        <p>
                            <strong>📧Email</strong>:&nbsp;&nbsp;{{ customer_record.email }}
                        </p>                        
                        <p>
                            <strong>📞Phone</strong>:&nbsp;&nbsp;{{ customer_record.phone }}
                        </p>
                        <p>
                            <strong>🏠Address</strong>:&nbsp;&nbsp;{{ customer_record.address }}
                        </p>
                        <p>
                            <strong>🌆City</strong>:&nbsp;&nbsp;{{ customer_record.city }}
                        </p>
                        <p>
                            <strong>🛣️State</strong>:&nbsp;&nbsp;{{ customer_record.state }}
                        </p>
                        <p>
                            <strong>🔢Zipcode</strong>:&nbsp;&nbsp;{{ customer_record.zipcode }}
                        </p>
                        <a href="{% url 'home' %}" class="btn">Back</a>&emsp;
                        <a href="{% url 'update_record' customer_record.id %}" class="btn">Edit</a>&emsp;
                        <a href="{% url 'delete' customer_record.id %}" class="btn">🚮Delete</a>&emsp;
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


{% endblock %}